@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../../templates/**/*.html";

@theme {
    --color-dark: #042940;
    --color-teal: #005C53;
    --color-lime: #9FC131;
    --color-neon: #DBF227;
    --color-sand: #D6D58E;

    --animate-spin-slow: spin-slow 6s linear infinite;
    --animate-spin-slow-reverse: spin-slow-reverse 4s linear infinite;
}

@keyframes spin-slow {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes spin-slow-reverse {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}
